<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>头条</string>
		<key>type</key>
		<integer>0</integer>
		<key>url</key>
		<string>http://c.m.163.com/nc/article/headline/T1348647853363</string>
		<key>adUrl</key>
		<string>http://c.m.163.com/nc/ad/headline</string>
	</dict>
	<dict>
		<key>title</key>
		<string>nba</string>
		<key>type</key>
		<integer>0</integer>
		<key>url</key>
		<string>http://c.m.163.com//nc/article/list/T1348649145984</string>
	</dict>
	<dict>
		<key>title</key>
		<string>手机</string>
		<key>type</key>
		<integer>0</integer>
		<key>url</key>
		<string>http://c.m.163.com//nc/article/list/T1348649654285</string>
	</dict>
	<dict>
		<key>title</key>
		<string>移动互联</string>
		<key>type</key>
		<integer>0</integer>
		<key>url</key>
		<string>http://c.m.163.com/nc/article/list/T1351233117091</string>
	</dict>
	<dict>
		<key>title</key>
		<string>娱乐</string>
		<key>type</key>
		<integer>0</integer>
		<key>url</key>
		<string>http://c.m.163.com/nc/article/list/T1348648517839</string>
	</dict>
	<dict>
		<key>title</key>
		<string>时尚</string>
		<key>type</key>
		<integer>0</integer>
		<key>url</key>
		<string>http://c.m.163.com/nc/article/list/T1348650593803</string>
	</dict>
	<dict>
		<key>title</key>
		<string>电影</string>
		<key>type</key>
		<integer>0</integer>
		<key>url</key>
		<string>http://c.m.163.com/nc/article/list/T1348648650048</string>
	</dict>
	<dict>
		<key>title</key>
		<string>科技</string>
		<key>type</key>
		<integer>0</integer>
		<key>url</key>
		<string>http://c.m.163.com/nc/article/list/T1348649580692</string>
	</dict>
	<dict>
		<key>title</key>
		<string>头条_1</string>
		<key>type</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://c.m.163.com/nc/article/headline/T1348647853363</string>
	</dict>
	<dict>
		<key>title</key>
		<string>nba_1</string>
		<key>type</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://c.m.163.com/nc/article/list/T1348649145984</string>
	</dict>
	<dict>
		<key>title</key>
		<string>手机_1</string>
		<key>type</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://c.m.163.com/nc/article/list/T1348649654285</string>
	</dict>
	<dict>
		<key>title</key>
		<string>移动互联_1</string>
		<key>type</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://c.m.163.com/nc/article/list/T1351233117091</string>
	</dict>
	<dict>
		<key>title</key>
		<string>娱乐_1</string>
		<key>type</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://c.m.163.com/nc/article/list/T1348648517839</string>
	</dict>
	<dict>
		<key>title</key>
		<string>时尚_1</string>
		<key>type</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://c.m.163.com/nc/article/list/T1348650593803</string>
	</dict>
	<dict>
		<key>title</key>
		<string>电影_1</string>
		<key>type</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://c.m.163.com/nc/article/list/T1348648650048</string>
	</dict>
	<dict>
		<key>title</key>
		<string>科技_1</string>
		<key>type</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://c.m.163.com/nc/article/list/T1348649580692</string>
	</dict>
</array>
</plist>
